.gradient-button {

    text-decoration: none;
    display: inline-block;
    /* padding: 3%; */
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 1%;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #000000 inset, 0 0 0 0 #ff0000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
    font-style: italic;
}
.gradient-button:hover {
    box-shadow: 0 0 10px 0 #4805ff inset, 0 0 10px 4px #ff0000;
    color: white;
}