#panel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#logo {
    width: 20%;
}

#imgLogo {
    width: 100%;
}

input {
    width: 94%;
    background-color: black;
}

#menu {
    width: 80%;
}

#imgSearchLogo {
    width: 10px;
}